<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="EmployeeDatabaseConnection"
			 connectionString="Data Source=.\SQLExpress;Initial Catalog=NunoSolutions;Integrated Security=True;TrustServerCertificate=true;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>